body { background: #7c81b; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 41px; display: flex; }
.block-metrics-0 { color: #ef01ba; font-size: 13px; margin-bottom: 5px; }
.block-notify-1 { color: #77a1a2; font-size: 18px; margin-bottom: 5px; }
.block-config-2 { color: #686c50; font-size: 18px; margin-bottom: 5px; }
.block-metrics-3 { color: #9838ce; font-size: 12px; margin-bottom: 5px; }
.block-order-4 { color: #688832; font-size: 15px; margin-bottom: 5px; }